.btn {
    color: #fff;
    transition: all .3s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: $navy-light;
    border-color: $navy-light;

    &:hover {
        background-color: darken($navy-light, 5);
    }
}

.btn-danger {
    color: $danger;
    background-color: lighten($danger, 35);
    border: none;
    font-weight: 500;

    &:hover {
        color: #fff;
        background-color: $danger;
    }
}

.btn-warning {
    color: $navy-light;
    background-color: lighten($navy-light, 28);
    border: none;
    font-weight: 500;

    &:hover {
        color: #fff;
        background-color: $navy-light;
    }

    &:active {
        color: #fff !important;
        outline: none;
        background-color: darken($navy-light, 3) !important;
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25) !important;
    }
}
