.nav {
    color: $light-text;
    font-weight: 500;
}

.nav-item {
    margin: 0;

    &__section {
        font-weight: 500;
        color: $dark-text;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.nav__link {
    display: flex;
    align-items: center;
    min-height: 45px;
    cursor: pointer;

    &-text {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    &-icon {
        line-height: 0;
        flex: 0 0 30px;
        color: $dark-text;
    }
}