.nav {
    color: $light-text;
    font-weight: 500;

    &__item {
        margin: 0;
        
        &-section {
            font-weight: 500;
            color: $dark-text;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        min-height: 45px;
        cursor: pointer;
    
        &-text {
            display: flex;
            align-items: center;
            flex-grow: 1;
        }
    
        &-icon {
            line-height: 0;
            flex: 0 0 30px;
            color: $dark-text;
        }
    }
}